@model MVCSuperHeroes.Z_Capa3_Datos.DC

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LigaDeLaJusticia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LigaDeLaJusticia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuperHumanos.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuperHumanos.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
